.App {
  font-family: sans-serif;
  text-align: center;
  /* color: crimson; */
}

.user-msg {
  font-size: 1.5rem;

  .user-name {
    font-weight: 800;
    font-style: italic;
  }
}

.user-container {
  img {
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
}


.movie-container {
  /* background: orange; */
  width: 20rem;

  img {
    width: 100%;
    border-radius: 1rem;
  }

  .movie-name,
  .movie-rating {
    margin: 0.75rem 0rem;
  }

  .movie-rating {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .movie-summary {
    margin: 0;
    line-height: 1.3;
  }
}

.movie-spec-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.movie-list{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  gap: 1rem;
  margin-block-end: 1rem;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-bar a.active {
  color: teal;
}